<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Default/Index/" aria-expanded="false">
                    <i class="icon-home menu-icon"></i><span class="nav-text">Siteye Git</span>
                </a>
            </li>
            <li>
                <a href="/Dashboard/Index/" aria-expanded="false">
                    <i class="icon-magic-wand menu-icon"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/KaggleData/Index/" aria-expanded="false">
                    <i class="icon-list menu-icon"></i><span class="nav-text">Kaggle Veriler</span>
                </a>
            </li>
            <li>
                <a href="/AdminAbout/Index/" aria-expanded="false">
                    <i class="icon-info menu-icon"></i><span class="nav-text">Hakkımızda</span>
                </a>
            </li>

            <li>
                <a href="/Guest/Index/" aria-expanded="false">
                    <i class="icon-list menu-icon"></i><span class="nav-text">Kategoriler</span>
                </a>
            </li>

            <li>
                <a href="/Testimonial/Index/" aria-expanded="false">
                    <i class="icon-menu menu-icon"></i><span class="nav-text">Emlaklar</span>
                </a>
            </li>
            <li>
                <a href="/AdminUsers/UserList/" aria-expanded="false">
                    <i class="icon-user-follow menu-icon"></i><span class="nav-text">Emlakçılar</span>
                </a>
            </li>
            <li>
                <a href="/AdminRoom/Index/" aria-expanded="false">
                    <i class="icon-picture menu-icon"></i><span class="nav-text">Slider</span>
                </a>
            </li>
            <li>
                <a href="/BookingAdmin/Index/" aria-expanded="false">
                    <i class="icon-pin menu-icon"></i><span class="nav-text">Lokasyon</span>
                </a>
            </li>
            <li>
                <a href="/BookingAdmin/Index/" aria-expanded="false">
                    <i class="icon-tag menu-icon"></i><span class="nav-text">Tag</span>
                </a>
            </li>

            <li>
                <a href="/Settings/Index/" aria-expanded="false">
                    <i class="icon-settings menu-icon"></i><span class="nav-text">Ayarlar</span>
                </a>
            </li>
            <li>
                <a href="/WorkLocation/Index/" aria-expanded="false">
                    <i class="icon-close menu-icon"></i><span class="nav-text">Çıkış Yap</span>
                </a>
            </li>
        </ul>
    </div>
</div>