@model List<GetCountPropertyType>
<div class="sidebar-box ftco-animate">
    <div class="categories">
        <h3>Kategoriler</h3>
        @foreach(var item in Model)
        {
            <li><a href="#">@item.TypeName <span>(@item.CategoryCount)</span></a></li>
        }
    </div>
</div>